<p>
  invoice-form-component works!
</p>
<h1>Add Invoice</h1>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Product name</label>
    <input required [(ngModel)]="invoice.name" name="productName" type="text" class="form-control" id="productName" aria-describedby="productName" #productName="ngModel">
    <div *ngIf="productName.errors && (productName.dirty || productName.touched)"
        class="alert alert-danger">
        <div [hidden]="!productName.errors.required">
          Please fill product name
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Amount</label>
    <input required [(ngModel)]="invoice.amount" name="amount" type="number" class="form-control" id="amount" aria-describedby="amount" #amount="ngModel">
    <div *ngIf="amount.errors && (amount.dirty || amount.touched)"
        class="alert alert-danger">
        <div [hidden]="!amount.errors.required">
          Please fill amount
        </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save Invoice</button>
</form>