<p>
  invoices-component works!
</p>
<div>
  <h3>Invoices:</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr jce-user *ngFor = "let invoice of invoices">
        <td>{{invoice.name}}</td>
        <td>{{invoice.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>
