<div class="container">
  <h1>
    {{title}}
  </h1>
  <nav>
    <a routerLink="/form" routerLinkActive="active" >New Invoice</a> | 
    <a routerLink="/invoices" routerLinkActive="active">Invoices</a>
  </nav>
  <router-outlet></router-outlet>
</div>
